/* posts */
[posts-selector]{
    position:relative!important;
    overflow:hidden;
}

/*======================================*/

/* warning overlay background */
.spoilertags-cover-a:before {
    content:"";
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    background:var(--Spoiler-Overlay-Color);
    box-sizing:border-box;
    z-index:-1;
}

/*======================================*/

/*============ NORMAL POSTS: THE SPOILER PART ============*/
[normal-posts] .spoilertags-cover-a {
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    z-index:1;
}

[normal-posts] .spoilertags-cover-b {
    height:100%;
}

[normal-posts] .spoilertags-cover-c {
    height:100%;
    justify-content:center;
}

[normal-posts][has-spoiler-tags] .spoilertags-post-inner {
    opacity:0;
    min-height:var(--Posts-Min-Height);
}

[normal-posts][has-spoiler-tags].spoilertags-active .spoilertags-cover-a {
    opacity:0;
    transition:opacity var(--Spoiler-Fade-Speed) 0s ease-in-out;
}

[normal-posts][has-spoiler-tags].spoilertags-active .spoilertags-post-inner {
    opacity:1;
    min-height:0;
    transition:min-height var(--Shrink-Posts-Speed) var(--Spoiler-Fade-Speed) ease-in-out, opacity var(--Spoiler-Fade-Speed) var(--Shrink-Posts-Speed) ease-in-out;
}

/*======================================*/

/*============ SHRINK POSTS: THE SPOILER PART ============*/
[shrink-posts] .spoilertags-cover-a {
    position:relative;
    display:grid;
    grid-template-rows:1fr;
    overflow:hidden;
    z-index:1;
}

[shrink-posts] .spoilertags-cover-b {
    min-height:0;
    visibility:visible;
    transition:visibility var(--Shrink-Posts-Speed) ease-in-out;
}

[shrink-posts].spoilertags-active .spoilertags-cover-a {
    opacity:0;
    grid-template-rows:0fr;
    /* show */
    transition:opacity var(--Spoiler-Fade-Speed) 0s ease-in-out, grid-template-rows calc(var(--Shrink-Posts-Speed) / 2) var(--Spoiler-Fade-Speed) ease-in-out;
}

[shrink-posts].spoilertags-active .spoilertags-cover-b {
    visibility:hidden;
}

/*============ SHRINK POSTS: POSTS PART ============*/
[has-spoiler-tags][shrink-posts] .spoilertags-hug-a {
    display:grid;
    grid-template-rows:0fr;
    opacity:0;
    overflow:hidden;
}

[has-spoiler-tags][shrink-posts] .spoilertags-hug-b {
    min-height:0;
    visibility:hidden;
    transition:visibility var(--Shrink-Posts-Speed) ease-in-out;
}

[shrink-posts].spoilertags-active .spoilertags-hug-a {
    opacity:1;
    grid-template-rows:1fr;
    /* show */
    transition:grid-template-rows calc(var(--Shrink-Posts-Speed) / 2) var(--Spoiler-Fade-Speed) ease-in-out, opacity var(--Spoiler-Fade-Speed) calc(var(--Spoiler-Fade-Speed) + (var(--Shrink-Posts-Speed) / 2)) ease-in-out;
}

[shrink-posts].spoilertags-active .spoilertags-hug-b {
    visibility:visible;
}

/*======================================*/

/* spoiler main content styling */
.spoilertags-cover-c {
    display:flex;
    flex-direction:column;
    gap:var(--Spoiler-Warning-Row-Spacing) 0;
    padding:var(--Spoiler-Warning-Padding);
    color:var(--Spoiler-Warning-Text-Color);
    text-align:var(--Spoiler-Warning-Text-Align);
    box-sizing:border-box;
}

.spoilertags-cover-c > * {
    margin-top:0;
    margin-bottom:0;
}

.spoilertags-message:first-child {
    margin-top:0;
}

.spoilertags-message:last-child {
    margin-bottom:0;
}

.spoilertags-list {
    color:var(--Spoiler-Tags-Color);
}

.spoilertags-btn {
    outline:none;
    border:var(--Spoiler-Button-Border-Size) solid var(--Spoiler-Button-Border-Color);
    padding:var(--Spoiler-Button-Padding);
    background:var(--Spoiler-Button-Background);
    border-radius:var(--Spoiler-Button-Roundness);
    color:var(--Spoiler-Button-Text-Color);
    cursor:pointer;
    transition:border-color var(--Spoiler-Button-HOVER-Speed) ease-in-out, background-color var(--Spoiler-Button-HOVER-Speed) ease-in-out, color var(--Spoiler-Button-HOVER-Speed) ease-in-out; 
}

.spoilertags-btn:hover {
    border-color:var(--Spoiler-Button-HOVER-Border-Color);
    background:var(--Spoiler-Button-HOVER-Background);
    color:var(--Spoiler-Button-HOVER-Text-Color);
}