/*-------- DEMO USE ONLY --------*/

* {
	box-sizing:border-box;
}

body {
	margin:0 auto;
	background:#fafafa;
	font-family:"Inter";
}

a {
	text-decoration:none;
	padding-bottom:1px;
	color:#7a97ed;
}

img {
	width:100%;
	max-width:100%;
	height:100%;
	max-height:100%;
	vertical-align:middle;
	object-fit:cover;
}

main {
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width:min(540px, 80vw);
}

[posts-selector]:first-of-type {
    margin-top:3rem!important;
}

[posts-selector]:last-of-type {
    margin-bottom:3rem!important;
}

[posts-selector]{
	margin-top:20px;
	padding:16px;
	background-color:#fff;
	border:1px solid #efefef;
	width:calc(100% - 40px);
	border-radius:8px;
	box-shadow:4px 4px 35px rgba(0,0,0,0.07);
	margin-bottom:20px;
	font-size:0.8rem;
	line-height:1.6em;
	color:#50586c;
}

[flex-grid]{
	display:grid;
	grid-gap:6px;
	border-radius:8px;
	overflow:hidden
}

[flex-grid][photos-2]{
	grid-template-columns:repeat(2, 1fr);
}

[flex-grid][photos-3]{
	grid-template-columns:repeat(3, 1fr);
}

[tags-cont]{
	margin-top:12px;
}

[tags-cont] a + a {
	margin-left:3px;
}